<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dingyuegroup.gray.server.mysql.dao.GrayInstanceMapper">
    <resultMap id="BaseResultMap" type="cn.dingyuegroup.gray.server.mysql.entity.GrayInstanceEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="instance_id" jdbcType="VARCHAR" property="instanceId"/>
        <result column="service_id" jdbcType="VARCHAR" property="serviceId"/>
        <result column="policy_group_id" jdbcType="VARCHAR" property="policyGroupId"/>
        <result column="open_gray" jdbcType="SMALLINT" property="openGray"/>
        <result column="status" jdbcType="SMALLINT" property="status"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, instance_id, service_id, open_gray, status, create_time, update_time, policy_group_id, remark
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gray_instance
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <delete id="deleteByInstanceId" parameterType="java.lang.String">
        delete from gray_instance
        where instance_id = #{instanceId,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayInstanceEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into gray_instance (instance_id, service_id, open_gray, status, create_time, update_time, policy_group_id, remark
        )
        values (#{instanceId,jdbcType=VARCHAR}, #{serviceId,jdbcType=VARCHAR}, #{openGray,jdbcType=SMALLINT},
        #{status,jdbcType=SMALLINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP},
        #{policyGroupId,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}
        )
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayInstanceEntity">
    update gray_instance
    set instance_id = #{instanceId,jdbcType=VARCHAR},
      service_id = #{serviceId,jdbcType=VARCHAR},
      status = #{status,jdbcType=SMALLINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      open_gray = #{openGray,jdbcType=SMALLINT},
      policy_group_id = #{policyGroupId,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gray_instance
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gray_instance
    </select>
    <select id="selectByInstanceId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gray_instance
        where instance_id = #{instanceId,jdbcType=VARCHAR}
    </select>
    <select id="selectByServiceId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gray_instance
        where service_id = #{serviceId,jdbcType=VARCHAR}
    </select>
    <update id="updateGrayStatusByInstanceId"
            parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayInstanceEntity">
        update gray_instance
        set open_gray = #{openGray,jdbcType=SMALLINT},update_time = #{updateTime,jdbcType=TIMESTAMP}
        where instance_id = #{instanceId,jdbcType=VARCHAR}
    </update>

    <update id="updateStatusByInstanceId"
            parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayInstanceEntity">
        update gray_instance
        set status = #{status,jdbcType=SMALLINT},update_time = #{updateTime,jdbcType=TIMESTAMP}
        where instance_id = #{instanceId,jdbcType=VARCHAR}
    </update>
    <update id="updatePolicyGroupByInstanceId"
            parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayInstanceEntity">
        update gray_instance
        set policy_group_id = #{policyGroupId,jdbcType=VARCHAR},update_time = #{updateTime,jdbcType=TIMESTAMP}
        where instance_id = #{instanceId,jdbcType=VARCHAR}
    </update>
    <update id="updateByInstanceId"
            parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayInstanceEntity">
        update gray_instance
        set remark = #{remark,jdbcType=VARCHAR},update_time = #{updateTime,jdbcType=TIMESTAMP}
        where instance_id = #{instanceId,jdbcType=VARCHAR}
    </update>
</mapper>