<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.dingyuegroup.gray.server.mysql.dao.GrayPolicyGroupMapper">
    <resultMap id="BaseResultMap" type="cn.dingyuegroup.gray.server.mysql.entity.GrayPolicyGroupEntity">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="policy_group_id" jdbcType="VARCHAR" property="policyGroupId"/>
        <result column="alias" jdbcType="VARCHAR" property="alias"/>
        <result column="enable" jdbcType="SMALLINT" property="enable"/>
        <result column="group_type" jdbcType="VARCHAR" property="groupType"/>
        <result column="is_delete" jdbcType="SMALLINT" property="isDelete"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="creator" jdbcType="VARCHAR" property="creator"/>
        <result column="department_id" jdbcType="VARCHAR" property="departmentId"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, policy_group_id, alias, enable, is_delete, group_type, remark, creator, department_id
    </sql>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gray_policy_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayPolicyGroupEntity">
        <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
            SELECT LAST_INSERT_ID()
        </selectKey>
        insert into gray_policy_group (policy_group_id, alias, enable,
        is_delete, group_type, remark, creator, department_id)
        values (#{policyGroupId,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, #{enable,jdbcType=SMALLINT},
        #{isDelete,jdbcType=SMALLINT}, #{groupType,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR},
        #{creator,jdbcType=VARCHAR}, #{departmentId,jdbcType=VARCHAR})
    </insert>
    <update id="updateByPrimaryKey" parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayPolicyGroupEntity">
    update gray_policy_group
    set policy_group_id = #{policyGroupId,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      enable = #{enable,jdbcType=SMALLINT},
      group_type = #{groupType,jdbcType=VARCHAR},
      is_delete = #{isDelete,jdbcType=SMALLINT},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gray_policy_group
        where id = #{id,jdbcType=INTEGER}
    </select>
    <select id="selectAll" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gray_policy_group
    </select>
    <select id="selectListByPolicyGroupId" parameterType="java.util.List" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        from gray_policy_group
        where is_delete=0 AND policy_group_id IN
        <foreach collection="ids" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>
    </select>
    <select id="selectByPolicyGroupId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gray_policy_group
        where policy_group_id = #{policyGroupId,jdbcType=VARCHAR}
    </select>
    <select id="selectByDepartmentId" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from gray_policy_group
        where department_id = #{departmentId,jdbcType=VARCHAR}
    </select>
    <update id="updateByPolicyGroupId" parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayPolicyGroupEntity">
        update gray_policy_group
        set enable = #{enable,jdbcType=SMALLINT}
        where policy_group_id = #{policyGroupId,jdbcType=VARCHAR}
    </update>
    <delete id="deleteByGroupId" parameterType="java.lang.String">
        delete from gray_policy_group
        where policy_group_id = #{policyGroupId,jdbcType=VARCHAR}
    </delete>
    <update id="editByPolicyGroupId" parameterType="cn.dingyuegroup.gray.server.mysql.entity.GrayPolicyGroupEntity">
        update gray_policy_group
        set alias = #{alias,jdbcType=VARCHAR}, group_type = #{groupType,jdbcType=VARCHAR},remark=#{remark,jdbcType=VARCHAR}
        where policy_group_id = #{policyGroupId,jdbcType=VARCHAR}
    </update>
</mapper>