<!DOCTYPE html>
<html layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header">
                    <div class="box-header">
                        <a th:href="@{/gray/manager/policy/group/index}">策略组管理</a>&nbsp;&nbsp;>&nbsp;&nbsp;策略管理
                    </div>
                    <div class="box-header">
                        <a title="新增" onclick="showModule()"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
                <table id="tableData" class="table table-bordered table-hover" style="text-align: center">
                    <thead>
                    <tr>
                        <th style="text-align: center">序号</th>
                        <th style="text-align: center">策略ID</th>
                        <th style="text-align: center">策略名称</th>
                        <th style="text-align: center">策略类型</th>
                        <th style="text-align: center">策略参数名</th>
                        <th style="text-align: center">策略参数值</th>
                        <th style="text-align: center">策略匹配方式</th>
                        <th style="text-align: center">备注</th>
                        <th style="text-align: center">创建者</th>
                        <th style="text-align: center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,iterStat:${list}">
                        <td th:text="${iterStat.index +1}"></td>
                        <td th:text="${item.policyId}"></td>
                        <td th:text="${item.policyName}"></td>
                        <td>
                            <span th:if="${item.policyType} == 'REQUEST_PARAMETER'">请求参数</span>
                        </td>
                        <td th:text="${item.policyKey}"></td>
                        <td th:text="${item.policyValue}"></td>
                        <td>
                            <span th:if="${item.policyMatchType} == 'EQUAL'">完全匹配</span>
                            <span th:if="${item.policyMatchType} == 'REGEX'">正则匹配</span>
                        </td>
                        <td th:text="${item.remark}"></td>
                        <td th:text="${item.creatorName}"></td>
                        <td th:if="${user.udid == item.creator || user.departmentAdmin}" style="text-align: center">
                            <span name="edit" title="编辑"
                                  th:onclick="'javascript:showEditModule(\''+${item.policyId}+'\',\''+${item.policyName}+'\',\''+${item.policyType}+'\',\''+${item.policyKey}+'\',\''+${item.policyValue}+'\',\''+${item.policyMatchType}+'\',\''+${item.remark}+'\')'"
                                  style="cursor: pointer" class="glyphicon glyphicon-edit">
                          </span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span name="trash" title="删除"
                                  th:onclick="'javascript:showDeleteModule(\''+${item.policyId}+'\')'"
                                  style="cursor: pointer" class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            添加策略
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="add-form" th:action="@{/gray/manager/policy/add}"
                              method="get">
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略名称:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="policyName" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略类型:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="policyType">
                                        <option value="REQUEST_PARAMETER">请求参数</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略参数名:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="policyKey">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略参数值:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="policyValue">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略匹配方式:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="policyMatchType">
                                        <option value="EQUAL">完全匹配</option>
                                        <option value="REGEX">正则匹配</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">备注:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="remark">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="hintDo();">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myDeleteModalLabel">
                            删除策略
                        </h4>
                    </div>
                    <div class="modal-body">
                        确认删除策略！
                        <form class="form-horizontal" id="delete-form"
                              th:action="@{/gray/manager/policy/delete}"
                              method="post">
                            <input id="deletePolicyId" name="policyId" type="hidden">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-danger" onclick="hintDeleteDo();">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myEditModalLabel">
                            修改策略组
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="edit-form" class="form-horizontal"
                              th:action="@{/gray/manager/policy/edit}"
                              method="post">
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略ID:</label>
                                <div class="col-sm-6">
                                    <input id="policyId" type="text" class="form-control" disabled="true">
                                    <input id="policyIdHidden" type="hidden" class="form-control"
                                           name="policyId">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略名称:</label>
                                <div class="col-sm-6">
                                    <input id="policyName" type="text" class="form-control" name="policyName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略类型:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="policyType" id="policyType">
                                        <option value="REQUEST_PARAMETER">请求参数</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略参数名:</label>
                                <div class="col-sm-6">
                                    <input id="policyKey" type="text" class="form-control" name="policyKey">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略参数值:</label>
                                <div class="col-sm-6">
                                    <input id="policyValue" type="text" class="form-control" name="policyValue">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">策略匹配方式:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="policyMatchType" id="policyMatchType">
                                        <option value="EQUAL">完全匹配</option>
                                        <option value="REGEX">正则匹配</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">备注:</label>
                                <div class="col-sm-6">
                                    <input id="remark" type="text" class="form-control" name="remark">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="hintEditDo();">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <script>
            // 添加
            function showModule() {
                $('#myModal').modal('show');
            }
            function hintDo() {
                $("#add-form").submit();
                $('#myModal').modal('hide')
            }
            // 删除
            function showDeleteModule(policyId) {
                var m = $('#myDeleteModal');
                m.find("#deletePolicyId").val(policyId);
                m.modal('show');
            }
            function hintDeleteDo() {
                $("#delete-form").submit();
                $('#myDeleteModal').modal('hide')
            }

            // 修改
            function showEditModule(policyId, policyName, policyType, policyKey, policyValue, policyMatchType, remark) {
                var m = $('#myEditModal').modal('show');
                m.find("#policyId").val(policyId);
                m.find("#policyIdHidden").val(policyId);
                m.find("#policyType").val(policyType);
                m.find("#policyKey").val(policyKey);
                m.find("#policyValue").val(policyValue);
                m.find("#policyMatchType").val(policyMatchType);
                m.find("#remark").val(remark);
                m.find("#policyName").val(policyName);
                m.modal('show');
            }
            function hintEditDo() {
                $("#edit-form").submit();
                $('#myEditModal').modal('hide')
            }
        </script>
    </div>
</div>
</body>
</html>