<!DOCTYPE html>
<html layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header">
                    <div class="box-header">
                        <a th:href="@{/gray/manager/services/index}">服务管理</a>&nbsp;&nbsp;>&nbsp;&nbsp;服务实例管理
                    </div>
                </div>
                <table id="tableData" class="table table-bordered table-hover" style="text-align: center">
                    <thead>
                    <tr>
                        <th style="text-align: center">序号</th>
                        <th style="text-align: center">服务ID</th>
                        <th style="text-align: center">服务名称</th>
                        <th style="text-align: center">服务实例ID</th>
                        <th style="text-align: center">在线操作</th>
                        <th style="text-align: center">是否开启灰度</th>
                        <th style="text-align: center">灰度策略组</th>
                        <th style="text-align: center">是否拥有灰度策略</th>
                        <th style="text-align: center">备注</th>
                        <th style="text-align: center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,iterStat:${list}">
                        <td th:text="${iterStat.index +1}"></td>
                        <td th:text="${item.serviceId}"></td>
                        <td th:text="${item.appName}"></td>
                        <td th:text="${item.instanceId}"></td>

                        <td>
                            <button th:if="${item.status} == true" type="button"
                                    class="btn btn-xs btn-danger editStatus"
                                    th:onclick="'javascript:showStatusModule(\''+${item.serviceId}+'\',\''+${item.instanceId}+'\',\'0\')'">
                                下线
                            </button>
                            <button th:if="${item.status} == false" type="button"
                                    class="btn btn-xs btn-success editStatus"
                                    th:onclick="'javascript:showStatusModule(\''+${item.serviceId}+'\',\''+${item.instanceId}+'\',\'1\')'">
                                上线
                            </button>
                        </td>
                        <td>
                            <span th:if="${item.openGray} == true" style="color: red">是</span>
                            <span th:if="${item.openGray} == false">否</span>
                        </td>
                        <td>
                            <a th:if="${item.policyGroupAlias == null}" th:text="无"
                               th:href="'javascript:showPolicyGroup(\''+${item.serviceId}+'\',\''+${item.instanceId}+'\')'"></a>
                            <a th:else th:text="${item.policyGroupAlias}"
                               th:href="'javascript:showPolicyGroup(\''+${item.serviceId}+'\',\''+${item.instanceId}+'\')'"></a>
                        </td>
                        <td>
                            <span th:if="${item.hasGrayPolicies} == true">是</span>
                            <span th:if="${item.hasGrayPolicies} == false">否</span>
                        </td>
                        <td th:text="${item.remark}"></td>
                        <td style="text-align: center">
                            <span name="edit" title="编辑"
                                  th:onclick="'javascript:showEditModule(\''+${item.appName}+'\',\''+${item.serviceId}+'\',\''+${item.instanceId}+'\',\''+${item.remark}+'\')'"
                                  style="cursor: pointer" class="glyphicon glyphicon-edit">
                          </span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span name="trash" title="删除"
                                  th:onclick="'javascript:showDeleteModule(\''+${item.serviceId}+'\',\''+${item.instanceId}+'\')'"
                                  style="cursor: pointer" class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myDeleteModalLabel">
                            删除服务实例
                        </h4>
                    </div>
                    <div class="modal-body">
                        确认删除服务实例！
                        <form class="form-horizontal" id="delete-form"
                              th:action="@{/gray/manager/services/instances/delete}"
                              method="post">
                            <input id="deleteServiceId" name="serviceId" type="hidden">
                            <input id="deleteInstanceId" name="instanceId" type="hidden">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-danger" onclick="hintDeleteDo();">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myEditModalLabel">
                            修改服务实例
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="edit-form" class="form-horizontal"
                              th:action="@{/gray/manager/services/instances/edit}"
                              method="post">
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">服务ID:</label>
                                <div class="col-sm-6">
                                    <input id="serviceId" type="text" class="form-control"
                                           disabled="true">
                                    <input id="serviceIdHidden" type="hidden" class="form-control" name="serviceId">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">服务名称:</label>
                                <div class="col-sm-6">
                                    <input id="appName" type="text" class="form-control" disabled="true">
                                    <input id="appNameHidden" type="hidden" class="form-control" name="appName">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">服务实例ID:</label>
                                <div class="col-sm-6">
                                    <input id="instanceId" type="text" class="form-control" disabled="true">
                                    <input id="instanceIdHidden" type="hidden" class="form-control" name="instanceId">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">备注:</label>
                                <div class="col-sm-6">
                                    <input id="remark" type="text" class="form-control" name="remark">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="hintEditDo();">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- sortedBookList -->
        <div class="modal fade" id="policyGroup" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">
                            灰度策略组
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="policyGroup-form"
                              th:action="@{/gray/manager/services/instance/policyGroup/relate}"
                              method="get">
                            <input name="serviceId" type="hidden" id="serviceIdSelect">
                            <input name="instanceId" type="hidden" id="instanceIdSelect">
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">选择策略组:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="policyGroupId" id="policyGroupId">
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="policyGroupDo();">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myWarnModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content" style="width: 40%;left:50%;top:300px;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">
                            修改在线状态
                        </h4>
                    </div>
                    <div class="modal-body">
                        <div style="text-align: center" id="showMsg">是否下线该服务实例</div>
                        <form class="form-horizontal" id="status-form"
                              th:action="@{/gray/manager/services/instance/onlineStatus}"
                              method="get">
                            <input name="serviceId" type="hidden" id="serviceIdStatus">
                            <input name="instanceId" type="hidden" id="instanceIdStatus">
                            <input name="status" type="hidden" id="instanceStatus">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="editStatusSub" onclick="statusDo();">下线
                        </button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <script>
            // 添加
            function showModule() {
                $('#myModal').modal('show');
            }
            function hintDo() {
                $("#add-form").submit();
                $('#myModal').modal('hide')
            }
            // 删除
            function showDeleteModule(serviceId, instanceId) {
                var m = $('#myDeleteModal');
                m.find("#deleteServiceId").val(serviceId);
                m.find("#deleteInstanceId").val(instanceId);
                m.modal('show');
            }
            function hintDeleteDo() {
                $("#delete-form").submit();
                $('#myDeleteModal').modal('hide')
            }

            // 修改
            function showEditModule(appName, serviceId, instanceId, remark) {
                var m = $('#myEditModal').modal('show');
                m.find("#appName").val(appName);
                m.find("#appNameHidden").val(appName);
                m.find("#serviceId").val(serviceId);
                m.find("#serviceIdHidden").val(serviceId);
                m.find("#instanceId").val(instanceId);
                m.find("#instanceIdHidden").val(instanceId);
                m.find("#remark").val(remark);
                m.modal('show');
            }
            function showPolicyGroup(serviceId, instanceId) {
                initPolicyGroupList();
                var m = $('#policyGroup');
                m.find("#serviceIdSelect").val(serviceId);
                m.find("#instanceIdSelect").val(instanceId);
                m.modal('show');
            }
            function policyGroupDo() {
                $("#policyGroup-form").submit();
                $('#policyGroup').modal('hide');
            }
            function hintEditDo() {
                $("#edit-form").submit();
                $('#myEditModal').modal('hide')
            }
            //修改在线状态弹窗
            function showStatusModule(serviceId, instanceId, status) {
                var m = $('#myWarnModal');
                if (status == 0) {
                    m.find("#editStatusSub").text("下线");
                    m.find("#showMsg").text("是否下线该服务实例");
                } else if (status == 1) {
                    m.find("#editStatusSub").text("上线");
                    m.find("#showMsg").text("是否上线该服务实例");
                }
                m.find("#serviceIdStatus").val(serviceId);
                m.find("#instanceIdStatus").val(instanceId);
                m.find("#instanceStatus").val(status);
                m.modal('show');
            }
            function statusDo() {
                $("#status-form").submit();
                $('#myWarnModal').modal('hide');
            }
            var policyGroupList;
            //初始化cp列表
            function initPolicyGroupList() {
                console.log(policyGroupList)
                if (!policyGroupList) {
                    $.ajax({
                        url: "/gray/manager/policy/group/list",
                        type: 'get',
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            console.log(data)
                            if (data.respCode == 20000) {
                                policyGroupList = data.data;
                                var result = '<option>无</option>';
                                $.each(policyGroupList, function (i, e) {
                                    result += '<option value="' + e.policyGroupId + '">' + e.alias + '</option>';
                                });
                                $("#policyGroupId").append(result);
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                }
            }
        </script>
    </div>
</div>
</body>
</html>