<!DOCTYPE html>
<html layout:decorate="~{common/layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:text-align="http://www.w3.org/1999/xhtml">
<head>
</head>
<body>
<div layout:fragment="content">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-body">
                <div class="box-header">
                    <div class="box-header">
                        人员管理
                    </div>
                    <div th:if="${user.departmentAdmin}" class="box-header">
                        <a title="新增" onclick="showModule()"><span class="glyphicon glyphicon-plus"></span></a>
                    </div>
                </div>
                <table id="tableData" class="table table-bordered table-hover" style="text-align: center">
                    <thead>
                    <tr>
                        <th style="text-align: center">序号</th>
                        <th style="text-align: center">用户编号</th>
                        <th style="text-align: center">用户名称</th>
                        <th style="text-align: center">账户</th>
                        <th style="text-align: center">角色</th>
                        <th style="text-align: center">部门</th>
                        <th style="text-align: center">备注</th>
                        <th style="text-align: center">密码管理</th>
                        <th style="text-align: center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="item,iterStat:${list}">
                        <td th:text="${iterStat.index +1}"></td>
                        <td th:text="${item.udid}"></td>
                        <td th:text="${item.nickname}"></td>
                        <td th:text="${item.account}"></td>
                        <td th:text="${item.roleName}"></td>
                        <td th:text="${item.departmentName}"></td>
                        <td th:text="${item.remark}"></td>
                        <td>
                            <a th:href="'javascript:showPassword(\''+${item.udid}+'\')'">重置密码</a>
                        </td>
                        <td style="text-align: center">
                            <span th:if="${user.udid != item.udid}" name="edit" title="编辑"
                                  th:onclick="'javascript:showEditModule(\''+${item.udid}+'\',\''+${item.nickname}+'\',\''+${item.account}+'\',\''+${item.remark}+'\',\''+${item.roleId}+'\')'"
                                  style="cursor: pointer" class="glyphicon glyphicon-edit">
                          </span>&nbsp;&nbsp;&nbsp;&nbsp;
                            <span th:if="${user.udid != item.udid}" name="trash" title="删除"
                                  th:onclick="'javascript:showDeleteModule(\''+${item.udid}+'\')'"
                                  style="cursor: pointer" class="glyphicon glyphicon-trash"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">
                            添加人员
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="add-form" th:action="@{/gray/manager/rbac/user/add}"
                              method="post">
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">用户名称:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="nickname" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">账户:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="account" required="required">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">角色:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="roleId" id="roleIdadd">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">备注:</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control" name="remark">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="hintDo();">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myDeleteModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myDeleteModalLabel">
                            删除策略
                        </h4>
                    </div>
                    <div class="modal-body">
                        确认删除策略！
                        <form class="form-horizontal" id="delete-form"
                              th:action="@{/gray/manager/rbac/user/delete}"
                              method="post">
                            <input id="deleteUdid" name="udid" type="hidden">
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-danger" onclick="hintDeleteDo();">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <!-- 模态框（Modal） -->
        <div class="modal fade" id="myEditModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myEditModalLabel">
                            修改人员
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form id="edit-form" class="form-horizontal"
                              th:action="@{/gray/manager/rbac/user/edit}"
                              method="post">
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">用户ID:</label>
                                <div class="col-sm-6">
                                    <input id="udid" type="text" class="form-control" disabled="true">
                                    <input id="udidHidden" type="hidden" class="form-control" name="udid">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">用户名称:</label>
                                <div class="col-sm-6">
                                    <input id="nickname" type="text" class="form-control" name="nickname">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">账户:</label>
                                <div class="col-sm-6">
                                    <input id="account" type="text" class="form-control" name="account">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">角色:</label>
                                <div class="col-sm-6">
                                    <select class="form-control" name="roleId" id="roleIdedit">
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">备注:</label>
                                <div class="col-sm-6">
                                    <input id="remark" type="text" class="form-control" name="remark">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="hintEditDo();">确定</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
        <!-- sortedBookList -->
        <div class="modal fade" id="passwordSetting" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title">
                            重置密码
                        </h4>
                    </div>
                    <div class="modal-body">
                        <form class="form-horizontal" id="password-form"
                              th:action="@{/gray/manager/rbac/user/password}"
                              method="post">
                            <input name="udid" type="hidden" id="udidPassword">
                            <div class="form-group row">
                                <label class="col-sm-4 control-label" style="padding-left:50px;">新密码:</label>
                                <div class="col-sm-6" style="margin-top: 0.5em;" id="resourceCheckbox">
                                    <input id="password" type="password" class="form-control" name="password">
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="button" class="btn btn-primary" onclick="passwordDo();">确定</button>
                    </div>
                </div>
            </div>
        </div>
        <script>
            // 添加
            function showModule() {
                initRoleList();
                $('#myModal').modal('show');
            }
            function hintDo() {
                $("#add-form").submit();
                $('#myModal').modal('hide')
            }
            // 删除
            function showDeleteModule(udid) {
                var m = $('#myDeleteModal');
                m.find("#deleteUdid").val(udid);
                m.modal('show');
            }
            function hintDeleteDo() {
                $("#delete-form").submit();
                $('#myDeleteModal').modal('hide')
            }

            // 修改
            function showEditModule(udid, nickname, account, remark, roleId) {
                initRoleList();
                var m = $('#myEditModal').modal('show');
                m.find("#udid").val(udid);
                m.find("#udidHidden").val(udid);
                m.find("#nickname").val(nickname);
                m.find("#account").val(account);
                m.find("#remark").val(remark);
                m.find("#roleIdedit").val(roleId);
                m.modal('show');
            }
            function hintEditDo() {
                $("#edit-form").submit();
                $('#myEditModal').modal('hide')
            }
            function showPassword(udid) {
                var m = $('#passwordSetting');
                m.find("#udidPassword").val(udid);
                m.modal('show');
            }
            function passwordDo() {
                $("#password-form").submit();
                $('#passwordSetting').modal('hide');
            }
            var roleList;
            //初始化cp列表
            function initRoleList() {
                console.log(roleList)
                if (!roleList) {
                    $.ajax({
                        url: "/gray/manager/rbac/role/list",
                        type: 'get',
                        dataType: 'json',
                        async: false,
                        success: function (data) {
                            console.log(data)
                            if (data.respCode == 20000) {
                                roleList = data.data;
                                var result = '';
                                $.each(roleList, function (i, e) {
                                    result += '<option value="' + e.roleId + '">' + e.roleName + '</option>';
                                });
                                $("#roleIdadd").append(result);
                                $("#roleIdedit").append(result);
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                }
            }
        </script>
    </div>
</div>
</body>
</html>